@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  --bg-color: #f5e1d2;
  --primary-color: #805336;
  --primary-color__fade: #80533620;
  --secondary-color: #9d4545;
  --secondary-color__fade: #9d4545bb;
  --body-text-color: #3a3a3f;
  --overlay-color: #c4c4c470;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto Slab", serif;
  background-color: var(--bg-color);
}

body {
  color: var(--body-text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  margin: 0;
}

.card {
  background: #ffffff;
  box-shadow: 2px 4px 10px 2px rgba(128, 83, 54, 0.1);
  border-radius: 0px 30px 30px 0px;
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: bold;
}

a {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a:visited {
  color: var(--secondary-color);
}

button,
.link-as-button {
  background: none;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 30px;
  box-shadow: none;
  font-size: 0.75rem;
  line-height: normal;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: all ease-out 0.2s;
}

.link-as-button {
  display: inline-block;
}

button:hover,
.link-as-button:hover {
  background: var(--primary-color__fade);
}

input:focus,
textarea:focus,
button:focus,
.link-as-button:focus {
  box-shadow: 0 0 2px 3px #daa89b;
  outline: none;
}

button.secondary,
.link-as-button.secondary {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

button.secondary:hover,
.link-as-button.secondary:hover {
  background: var(--secondary-color__fade);
}
.link-as-button.with-icon,
button.with-icon {
  border: none;
  padding: 2px;
}

.menu__open-button {
  margin: 50px 30px;
  min-width: 150px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.menu__header p {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 24px;
  margin: 0;
}

.menu__close-button--icon {
  height: 24px;
  width: 24px;
}

.menu__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay-color);
  transition: all 0.2s ease-out;
  z-index: -1;
  opacity: 0;
}
.menu__overlay.open {
  opacity: 1;
  z-index: 9999;
}

.menu__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.2s ease-out;
  transform: translateX(-100%);
}

.menu__overlay.open .menu__sidebar {
  transform: translateX(0);
}

.menu__sidebar nav {
  flex: 1;
}

.menu__sidebar ul {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 400px;
  max-width: 100%;
}

.menu__sidebar li {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 15px;
}

#post-title {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 3rem;
  line-height: 3rem;
  margin: 15px 0 10px;
}

.post__time {
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0;
}

.post__body {
  margin: 30px 0;
  line-height: 1.5em;
  white-space: pre-line;
}

.post__buttons {
  display: flex;
  flex-wrap: wrap;
}

.post__buttons * {
  margin-top: 10px;
}

.post__edit-link {
  margin-right: 30px;
}

.post-list {
  list-style: none;
}

.post-list a {
}

.post__back-button--icon {
  height: 35px;
  width: 30px;
  transform: rotate(180deg);
}

.content {
  max-width: 1900px;
  margin-right: 100px;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .content {
    margin-right: 0;
  }
}
